.countdown0 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer0 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer0 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer0 span:not(:last-child) {
    margin-right: 10px;
}



.countdown1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer1 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer1 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer1 span:not(:last-child) {
    margin-right: 10px;
}


.countdown2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer2 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer2 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer2 span:not(:last-child) {
    margin-right: 10px;
}
.countdown3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer3 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer3 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer3 span:not(:last-child) {
    margin-right: 10px;
}

.countdown4 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer4 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer4 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer4 span:not(:last-child) {
    margin-right: 10px;
}
.countdown5 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer5 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer5 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer5 span:not(:last-child) {
    margin-right: 10px;
}
.countdown6 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer6 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer6 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer6 span:not(:last-child) {
    margin-right: 10px;
}


.countdown7 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer7 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer7 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer7 span:not(:last-child) {
    margin-right: 10px;
}


.countdown8 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer8 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer8 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer8 span:not(:last-child) {
    margin-right: 10px;
}


.countdown9 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-timer9 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
}

.countdown-timer9 span {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.countdown-timer9 span:not(:last-child) {
    margin-right: 10px;
}

