.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 1271px;
}

.u-section-1 .u-group-1 {
    min-height: 208px;
    height: auto;
    --animation-custom_in-translate_x: 100px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin: 50px 26px 0;
}

.u-section-1 .u-list-1 {
    grid-template-rows: auto;
    width: 802px;
    margin: 26px auto 0;
}

.u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
    min-height: 436px;
    grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,42,51,0.25);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-icon-1 {
    height: 94px;
    width: 94px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 41px 0 auto;
}

.u-section-1 .u-text-2 {
    text-transform: none;
    letter-spacing: normal;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 23px 0 0;
}

.u-section-1 .u-list-item-2 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,42,51,0.25);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-icon-2 {
    height: 94px;
    width: 94px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 41px 0 auto;
}

.u-section-1 .u-text-3 {
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: none;
    font-size: 1.25rem;
    margin: 23px 0 0;
}

.u-section-1 .u-list-item-3 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,42,51,0.25);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-4 {
    padding: 30px;
}

.u-section-1 .u-icon-3 {
    height: 94px;
    width: 94px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 41px 0 auto;
}

.u-section-1 .u-text-4 {
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: none;
    font-size: 1.25rem;
    margin: 23px 0 0;
}

.u-section-1 .u-list-item-4 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,42,51,0.25);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-icon-4 {
    height: 94px;
    width: 94px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 41px 0 auto;
}

.u-section-1 .u-text-5 {
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: none;
    font-size: 1.25rem;
    margin: 23px 0 0;
}

.u-section-1 .u-list-item-5 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,42,51,0.25);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-6 {
    padding: 30px;
}

.u-section-1 .u-icon-5 {
    height: 94px;
    width: 94px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 41px 0 auto;
}

.u-section-1 .u-text-6 {
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: none;
    font-size: 1.25rem;
    margin: 23px 0 0;
}

.u-section-1 .u-list-item-6 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,42,51,0.25);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-7 {
    padding: 30px;
}

.u-section-1 .u-icon-6 {
    height: 94px;
    width: 94px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 0 41px 0 auto;
}

.u-section-1 .u-text-7 {
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: none;
    font-size: 1.25rem;
    margin: 23px 0 0;
}

.u-section-1 .u-text-8 {
    text-align: left;
    margin: 502px 0 0 auto;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1255px;
    }

    .u-section-1 .u-group-1 {
        height: auto;
    }

    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    }

    .u-section-1 .u-icon-1 {
        padding: 25px;
    }

    .u-section-1 .u-icon-2 {
        padding: 25px;
    }

    .u-section-1 .u-icon-3 {
        padding: 25px;
    }

    .u-section-1 .u-icon-4 {
        padding: 25px;
    }

    .u-section-1 .u-icon-5 {
        padding: 25px;
    }

    .u-section-1 .u-icon-6 {
        padding: 25px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1539px;
    }

    .u-section-1 .u-group-1 {
        min-height: 156px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3.4375rem;
        margin-top: 0;
    }

    .u-section-1 .u-list-1 {
        width: 613px;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 15px));
        min-height: 738px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1529px;
    }

    .u-section-1 .u-group-1 {
        min-height: 208px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 10px;
    }

    .u-section-1 .u-list-1 {
        width: 540px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-text-2 {
        letter-spacing: 2px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-6 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-container-layout-7 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1981px;
    }

    .u-section-1 .u-group-1 {
        min-height: 135px;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
        width: auto;
        margin-top: 28px;
    }

    .u-section-1 .u-list-1 {
        width: 340px;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
        min-height: 1356px;
    }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-icon-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-icon-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before,
.u-section-1 .u-icon-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-icon-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-3 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-4,
.u-section-1 .u-icon-4:before,
.u-section-1 .u-icon-4 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-icon-4 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-4 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-5,
.u-section-1 .u-icon-5:before,
.u-section-1 .u-icon-5 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-icon-5 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-5 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-6,
.u-section-1 .u-icon-6:before,
.u-section-1 .u-icon-6 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-6.u-icon-6.u-icon-6:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-6.u-icon-6.u-icon-6.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-icon-6 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-6 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}