 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1295px;
}

.u-section-1 .u-group-1 {
  min-height: 208px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 50px 26px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 50px auto 0 175px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 26px auto 0 175px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 26px auto 0 175px;
}

.u-section-1 .u-text-5 {
  text-align: left;
  margin: 549px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-4 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: 28px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-5 {
    margin-bottom: 0;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}